<h1>New post</h1>

<form id="new-post" name="post">
  <div class="field">
    <label for="author"> author:</label>
    <input type="text" name="author" id="author" value="<%= author %>" >
  </div>

  <div class="field">
    <label for="content"> content:</label>
    <input type="text" name="content" id="content" value="<%= content %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Post" />
  </div>

</form>

<a href="#/index">Back</a>